/* 
CSS for lecture notes
Peadar Grant
*/

h1 {
    background-color: palegreen;
}

header h1 {
    background-color: white;
    text-align: center;
}

dt {
    color: darkblue;
    font-weight: bold;
}

pre {
    background-color: lightgrey;
    font-size: 125%;
    padding: 1em;
}

img {
    text-align: center;
    max-width: 100px;
    width: 100%;
    height: auto;
}


